name: Build and Publish

on:
  # run it on push to the default repository branch
  push:
    branches:
      - '**'
jobs:
  # define job to build and publish docker image
  build-and-push-docker-image:
    name: Build Docker image and push to repositories
    # run only when code is compiling and tests are passing
    runs-on: ubuntu-latest

    # steps to perform in the job
    steps:
      - name: "Build:checkout"
        uses: actions/checkout@v2
      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            efinder2/his_in_one_qis_exam_notification
            ghcr.io/efinder2/his_in_one_qis_exam_notification
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          dockerfile: Docker/Dockerfile
      - name: 'Build:dockerimage'
        uses: docker/build-push-action@v1
        with:
          registry: ghcr.io
          path: ./
          dockerfile: Docker/Dockerfile
          tags: latest
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}